:root {
  --card-width: clamp(130px, 18vw, 100px);
  --gap: 16px;
}

.content-container {
  color: white;
  padding: 50px 0;
}

.text-card p {
  font-size: 18px;
  font-weight: 600;
  padding: 0 80px;
}

.card-container {
  display: flex;
  gap: 15px;
  padding: 0px 70px;
  display: flex;
  align-items: center;
}

.slide-btn {
  height: 100px;
  padding: 5px;
  background-color: rgba(210, 168, 0, 0.186);
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.slide-btn:hover {
  opacity: 75%;
}

.slide-btn:active {
  opacity: 50%;
}

.slider-wrapper {
  overflow: hidden;
  width:100%;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  margin-left: 15px;
  gap: 40px;
  width: 150vw;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.card {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 150px;
  aspect-ratio: 2 / 3;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
  cursor: pointer;

  transition:
    transform 0.3s ease;
  will-change: transform;
}

.card:hover {
  transform: scale(1.1);
  z-index: 5;
  opacity: 75%;
}

.card:active {
  opacity: 50%;
}

.title {
  position: absolute;
  z-index: 3;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  left: -15px;
  bottom: -10px;
  color: black;
  -webkit-text-stroke: 0.5px white;
  pointer-events: none;
}

/* BACKGROUND IMAGES */
.bg-1 {background-image: url("./images/img1.jpg"); }
.bg-2 { background-image: url("./images/img2.jpg"); }
.bg-3 { background-image: url("./images/img3.jpg"); }
.bg-4 { background-image: url("./images/img4.jpg"); }
.bg-5 { background-image: url("./images/img5.jpg"); }
.bg-6 { background-image: url("./images/img6.jpg"); }
.bg-7 { background-image: url("./images/img7.jpg"); }
.bg-8 { background-image: url("./images/img8.jpg"); }
.bg-9 { background-image: url("./images/img9.jpg"); }
.bg-10 { background-image: url("./images/img10.jpg"); }

@media (max-width: 1000px) {
  .card-container {
    gap: 5px;
  }

  .slider-track {
    gap: 30px;
  }

  .title {
    font-size: 65px;
  }
}

@media (max-width: 768px) {
  .text-card p {
    font-size: 14px;
    font-weight: 600;
    padding: 50px 0 0 30px;
  }

  .card-container {
    padding: 0px 10px;
  }

  .content-container {
    margin-top: -50px;
  }
}

@media (max-width: 700px) {
  .content-container {
    margin-top: -230px;
  }
}

@media (max-width: 500px) {
  :root {
  --card-width: clamp(150px, 18vw, 100px);
  }

  .content-container {
    margin-top: -300px;
  }
}

@media (max-width: 375px) {
  :root {
    --card-width: clamp(160px, 18vw, 100px);
  }
}
