.discover {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 50px 0px 50px 80px;
  background-color: #cba200;
}

.left-content h1 {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

.left-content button {
  color: rgb(255, 255, 255);
  background-color: black;
  border-style: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

.left-content button:hover {
  opacity: 75%;
  transition: 0.3s ease-in-out;
}

.left-content button:active {
  opacity: 50%;
  transition: 0.3s ease-in-out;
}

.right-content img{
  width: 90%;
  min-width: 70%;
}

@media (max-width: 768px) {
  .discover {
    padding: 50px 30px 50px 30px;
  }

  .right-content img{
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .discover {
    grid-template-columns: repeat(1, 1fr);
  }

  .left-content h1 {
    font-size: 25px;
  }

  .left-content {
    text-align: center;
  }

  .right-content img {
    display: flex;
    justify-self: center;
  }
}