.reasons {
  padding: 0 80px 50px 80px;
  color: white;
}

.reasons h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.container-reasons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  color: white;
}

.card-reasons {
  background-image: linear-gradient(
  to bottom,
  rgb(0, 0, 0),
  rgba(210, 168, 0, 0.186));
  flex: 1;
  text-align: center;
  padding: 50px 25px;
  border-radius: 20px;
} 

.card-reasons:hover {
  background-color: rgba(210, 168, 0, 0.186);
  transition: 0.3s ease-in-out;
}

.card-reasons svg {
  height: 50px;
  width: 40px;
  margin-bottom: 15px;
}

.card-reasons h1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-reasons p {
  font-size: 10px;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .container-reasons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .reasons {
    padding: 0 30px 50px 30px;
  }

  .reasons h1 {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .container-reasons {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-reasons {
    padding: 20px 25px;
  }

  .card-reasons svg {
    height: 40px;
    width: 30px;
    margin-bottom: 5px;
  }

  .card-reasons h1 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}