* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 11px;
}

.container-fluid {
  padding: 10px 80px;
  color: white;
}

.nav-container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

.nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-menu p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(203, 162, 0);
}

.hamburger {
  display: none;
  color: rgb(203, 162, 0);
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.hamburger:hover {
  opacity: 75%;
  transition: 0.3s ease-in-out;
}

.hamburger:active {
  opacity: 50%;
  transition: 0.3s ease-in-out;
}


.navbar li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: rgb(203, 162, 0);
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.navbar li a:active {
  opacity: 75%;
  transition: 0.3s ease-in-out;
}

.btn-auth {
  display: flex;
  gap: 10px;
}

.btn-auth button {
  border: none;
  background-color: rgb(203, 162, 0);
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.btn-auth button:hover {
  opacity: 75%;
  transition: 0.3s ease-in-out;
}

.btn-auth button:active {
  opacity: 50%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 10px 30px;
  }

  .navbar {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 16px 0;
  }

  .nav-menu p {
    font-size: 15px;
  }

  .hamburger {
    display: block;
    color: rgb(203, 162, 0);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .btn-auth button{
    font-size: 10px;
  }
}